<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">DZone.com Article Information</h1>
        <div class="col-12 col-sm-12 col-lg-12">
            <div class="col-sm-5">
                <h3>{{ctrl.realName}}</h3>
                <img data-ng-src="{{ctrl.avatarURL}}" style="height: 230px; margin-bottom: 15px;">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <td colspan="2"><h4>Overall Statistics</h4></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="text-align: left;">First Post: {{ctrl.firstArticlePubDate | moment:'M/D/YYYY'}}</td>
                            <td style="text-align: right;">{{ctrl.daysSinceFirstPost | number:0}} days ago</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Total Articles Published</td>
                            <td style="text-align: right;">{{ctrl.articleCount | number:0}}</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Total Page Views</td>
                            <td style="text-align: right;">{{ctrl.totalPageViews | number:0}}</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Average Views Per Article</td>
                            <td style="text-align: right;">{{ctrl.averagePageViewsPerArticle | number:2}}</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Average Views Per Day</td>
                            <td style="text-align: right;">{{ctrl.averageViewsPerDay | number:2}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="table-responsive">
                    <table st-table="displayedList" st-safe-src="ctrl.portalList" class="table table-striped">
                        <thead>
                        <tr>
                            <th style="text-align: left;" st-sort="name" st-sort-default="true">Portal</th>
                            <th style="text-align: right;" st-sort="count">Articles</th>
                            <th style="text-align: right;" st-sort="views">Views</th>
                            <th style="text-align: right;" st-sort="avgViews">Average Views</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in displayedList">
                            <td style="text-align: left;">{{row.name}}</td>
                            <td style="text-align: right;">{{row.count | number:0}}</td>
                            <td style="text-align: right;">{{row.views | number:0}}</td>
                            <td style="text-align: right;">{{row.avgViews | number:2}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div>
        <h2>Full Article List</h2>
    </div>

    <table st-table="displayedCollection" st-safe-src="ctrl.data" class="table table-striped">
        <thead>
        <tr>
            <th st-sort="articleDate" st-sort-default="reverse">Date</th>
            <th st-sort="title">Title</th>
            <th st-sort="portal">Portal</th>
            <th st-sort="views">Views</th>
        </tr>
        <tr>
            <th colspan="4"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in displayedCollection">
            <td>{{row.articleDate | date}}</td>
            <td><a ng-href="{{ctrl.baseURL}}{{row.articleLink}}" target="_blank">{{row.title}}</a></td>
            <td>{{row.portal}}</td>
            <td>{{row.views | number}}</td>
        </tr>
        </tbody>
    </table>
</div>
